<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hiroshi.cimoc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.DetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ChapterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.TagEditorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.TaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.settings.ReaderConfigActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.BackupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SourceDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PartFavoriteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.DirPickerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.settings.EventSettingsActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.activity.PageReaderActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.activity.StreamReaderActivity"
            android:configChanges="orientation|screenSize" />

        <service android:name=".service.DownloadService" />

        <activity
            android:name=".ui.activity.BrowserFilter"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="cimoc" />

                <!--Generate By feilong-->
                <data
                    android:host="m.buka.cn"
                    android:scheme="http" />
                <data
                    android:host="m.buka.cn"
                    android:scheme="https" />
                <data
                    android:host="www.dm5.com"
                    android:scheme="http" />
                <data
                    android:host="www.dm5.com"
                    android:scheme="https" />
                <data
                    android:host="tel.dm5.com"
                    android:scheme="http" />
                <data
                    android:host="tel.dm5.com"
                    android:scheme="https" />
                <data
                    android:host="manhua.dmzj.com"
                    android:scheme="http" />
                <data
                    android:host="manhua.dmzj.com"
                    android:scheme="https" />
                <data
                    android:host="m.dmzj.com"
                    android:scheme="http" />
                <data
                    android:host="m.dmzj.com"
                    android:scheme="https" />
                <data
                    android:host="www.manhuagui.com"
                    android:scheme="http" />
                <data
                    android:host="www.manhuagui.com"
                    android:scheme="https" />
                <data
                    android:host="tw.manhuagui.com"
                    android:scheme="http" />
                <data
                    android:host="tw.manhuagui.com"
                    android:scheme="https" />
                <data
                    android:host="m.manhuagui.com"
                    android:scheme="http" />
                <data
                    android:host="m.manhuagui.com"
                    android:scheme="https" />
                <data
                    android:host="m.5qmh.com"
                    android:scheme="http" />
                <data
                    android:host="m.5qmh.com"
                    android:scheme="https" />
                <data
                    android:host="m.pufei.net"
                    android:scheme="http" />
                <data
                    android:host="m.pufei.net"
                    android:scheme="https" />
                <data
                    android:host="ac.qq.com"
                    android:scheme="http" />
                <data
                    android:host="ac.qq.com"
                    android:scheme="https" />
                <data
                    android:host="m.ac.qq.com"
                    android:scheme="http" />
                <data
                    android:host="m.ac.qq.com"
                    android:scheme="https" />
                <data
                    android:host="www.u17.com"
                    android:scheme="http" />
                <data
                    android:host="www.u17.com"
                    android:scheme="https" />
                <data
                    android:host="www.migudm.cn"
                    android:scheme="http" />
                <data
                    android:host="www.migudm.cn"
                    android:scheme="https" />
                <data
                    android:host="m.migudm.cn"
                    android:scheme="http" />
                <data
                    android:host="m.migudm.cn"
                    android:scheme="https" />
                <data
                    android:host="h5.manhua.163.com"
                    android:scheme="http" />
                <data
                    android:host="h5.manhua.163.com"
                    android:scheme="https" />
                <data
                    android:host="99770.hhxxee.com"
                    android:scheme="http" />
                <data
                    android:host="99770.hhxxee.com"
                    android:scheme="https" />
                <data
                    android:host="www.cartoonmad.com"
                    android:scheme="http" />
                <data
                    android:host="www.cartoonmad.com"
                    android:scheme="https" />
                <data
                    android:host="www.2animx.com"
                    android:scheme="http" />
                <data
                    android:host="www.2animx.com"
                    android:scheme="https" />
                <data
                  android:host="www.50mh.com"
                  android:scheme="http" />
                <data
                  android:host="www.50mh.com"
                  android:scheme="https" />
                <data
                    android:host="m.50mh.com"
                    android:scheme="http" />
                <data
                    android:host="m.50mh.com"
                    android:scheme="https" />
                <data
                    android:host="www.manhuadb.com"
                  android:scheme="http" />
                <data
                    android:host="www.manhuadb.com"
                  android:scheme="https" />
                <data
                    android:host="m.bnmanhua.com"
                    android:scheme="http" />
                <data
                    android:host="m.bnmanhua.com"
                    android:scheme="https" />
                <data
                    android:host="m.tohomh123.com"
                    android:scheme="http" />
                <data
                    android:host="m.tohomh123.com"
                    android:scheme="https" />
                <data
                    android:host="www.chuixue.net"
                    android:scheme="http" />
                <data
                    android:host="www.chuixue.net"
                    android:scheme="https" />
                <!--Generate By feilong end-->

            </intent-filter>
        </activity>
    </application>

</manifest>