<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hiroshi.cimoc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute">

        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ResultActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.activity.DetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.activity.ChapterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.activity.TagEditorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.activity.TaskActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.activity.settings.ReaderConfigActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.activity.BackupActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.activity.AboutActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.activity.CategoryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.activity.SearchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.activity.SourceDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.activity.PartFavoriteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.activity.DirPickerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.activity.settings.EventSettingsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.activity.PageReaderActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.activity.StreamReaderActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <service android:name=".service.DownloadService" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:permission="android.permission.MANAGE_DOCUMENTS"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="${ADMOB_APP_ID}"/>
    </application>

</manifest>