<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hiroshi.cimoc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.activity.MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.ResultActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.DetailActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.ChapterActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.TagEditorActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.TaskActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.SettingsActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.settings.ReaderConfigActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.BackupActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.AboutActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.CategoryActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.SearchActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.SourceDetailActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.PartFavoriteActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.DirPickerActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.settings.EventSettingsActivity"
            android:configChanges="orientation|screenSize"/>

        <activity
            android:name=".ui.activity.PageReaderActivity"
            android:configChanges="orientation|screenSize"/>

        <activity
            android:name=".ui.activity.StreamReaderActivity"
            android:configChanges="orientation|screenSize"/>

        <service
            android:name=".service.DownloadService"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public" />
        </provider>

    </application>

</manifest>
